asgiref==3.8.1
certifi==2024.8.30
dj-database-url==2.1.0
Django==5.0.9
elastic-transport==8.15.1
elasticsearch==8.15.1
gunicorn==22.0.0
invoke==2.2.0
packaging==24.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise==6.6.0
